@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

header{
    /* border: 1px red solid; */
    text-align: center;
    margin: 1.5rem;
}

.sections{
    display: flex;
    justify-content: center;
}
section{
    width: 25rem;
    min-height: 30rem;
    border: 2px black solid;
    border-radius: 30px;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
}
section h3{
    text-align: center;
    margin-bottom: 1rem;
}
section ul{
    padding-left: 2rem;
    padding-right: 2rem;
    /* border: 1px black solid; */
    /* list-style: none; */
    min-height: 25rem;
}
li::marker{
    color: lightseagreen;
}
.inputs{
    display: flex;
    justify-content: center;
}
.inputComponent{
    border: 2px black solid;
    border-radius: 5px;
    padding: .25rem;
}
#toDoMessage{
    height: 2rem;
    width: 10rem;
    border: none;
    border-right: 1px solid black;
}
#toDoMessage:focus{
    outline: none;
}
#sendButton{
    border: none;
    background-color: transparent;
    height: 2rem;
    transition: all ,ease-in-out, .3s ;
}
#sendButton:hover{
    cursor: pointer;
    color: lightseagreen;
}